h1{
    color: rgb(26, 26, 238);
    font-size: 50px;
    
}
 p{
    color: rgb(0, 0, 0);
    text-decoration-style: double;
    text-size-adjust: 60px;
    text-decoration: underline;
    background-color: rgb(72, 255, 0);
}

img{
 border-color: black;
 border-radius: 30%;
 border-style: groove;
 border-left-style: dotted;
 border-right-style: dotted;
}
h2{
    color: blue;
    border-style: groove;     
    font-size: 35px;                  
}
