body {
    background-color:rgb(73, 169, 201);
  }
  
  h1 { 
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px white;
	text-decoration: underline;
  font-size: 100px;
  font-family: sans-serif ;
  }

  img{
    border: 8px ridge rgb(0, 77, 121);
    display: block;
    margin-left: auto;
    margin-right: auto;
     box-shadow: 8px 8px 8px black;
  }

  p {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px black;
  }

  li{
    font-size: 50px;
    text-align: center;
  }