p{
    color:plum;
}
h1{
    text-align: center;
   
}
h2{
    text-align: center;
    text-decoration: double;
}
h3{
    text-align: center;
}
img{
    display: flex;
    margin: 0 auto;
}
body{
    background-color: brown;
}
ul{
    color:plum;

}