
body {
  background-color: purple
}
h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: orange;
  font-size: 160px;
  
}
h2{
  font-size: 130px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
h3{
  text-align: center;
  font-size: 50px
}
h4{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: orange;
  font-size: 150px;
  
}
img{  
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  border: 25px ridge orangered;
  box-shadow: 14px 14px 14px black;
}
p{
  font-size: 110px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: orange;
}
