h1 {text-align: center;
color: rgb(71, 203, 247);
text-decoration: underline;
text-shadow: 2px 2px black;
}


h3 {color: rgb(9, 139, 182);
text-align: left;
text-decoration: underline black; }

body {background-color:beige ;}

p {color: black;}

h4 {color: rgb(9, 139, 182);
text-decoration: underline; text-decoration-color: black;}

#soup {margin: 0 auto;
display: flex;}
